
header {
    font-family: fantasy;
    color: midnightblue;
    background-color: lightgray;
    font-size: 40px;
}

h1 {
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 20px;
    font-style: italic;
}
    
h2 {
    font-family: sans-serif;
    font-size: 15px;
    margin: 5px;
    font-style: italic;
}

h3 {
    font-family: monospace;
    font-size: 15px;
    background-size: cover;
    background-color: dodgerblue;
    display: inline-block;
    font-style: italic;
    color: white;
    margin-left: 50px;
}

img {
        margin: 0;
        padding: 0;
        }
.imgbox {
        display: grid;
        height: 100%;
        }
.center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
        width: 2160px;
        height: 1060px;
        }
.center-fit-text {
    margin: 10px;
    max-width: 100%;
    padding: 10px;
    
}
label {
    margin: 0px;
}

div {
    margin: 50px;
}

footer {
    font-size: 12px;
}